.footer-container{
    width: 100%;
    padding: 4rem 0rem 6rem 0rem ;
  /* background-color: red; */
  /* background-color:#2D3748 ; */
  background-color: #141414;

}
.footer{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    justify-content: space-between;
    

}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

}
#footer-logo{
    color: red;
}
.footer ul li, .footer ul li a{
    list-style: none;
    font-size: 1rem;
    /* color: red; */
    color: #CBD5E0;
    align-items: center;
}
.footer ul li a{
     display: flex;
     align-items: center;
     gap: 0.3rem;
     transition: ease-in all .3s;
     cursor: pointer;
}
.footer ul li a:hover{
    color: red;
}
.footer ul li:nth-child(1){
    padding-bottom: 0.3rem;
}
#footer-logo{
    color: #878A8F;
    font-size: 1.8rem;
    cursor: pointer;
}
#quick-links{
    font-size: 1.1rem;
    color: white;

}
#icons1{
    color: rgb(32, 32, 32);
}
#icons2{
    color: rgb(100, 114, 221);
}
#icons3{
    color: rgb(166, 78, 255);
}
#footer-logo{
    color: red;
}
@media only screen and (max-width: 600px){
    .footer{
        width: 80%;
        gap: 2rem;
       
    }
}